.parentContainer{
    position: relative !important;
    min-height: 100vh;
}
.padBottomContainer{
    padding-bottom: 30px !important;
}
.carouselDiv{
    text-align: center;
    background-color: #eef1d4;
}
.carouselImage{
    width: 70%;
    height: 550px;
}
.homeBodyContainer{
    margin-top: 50px;
}
.homeBody{
    margin-top: 50px;
    position: relative !important;
    display: flex;
}
.homeBodyImageDivLeft{
    text-align: left;
    width: 50%;
}
.homeBodyImageDivRight{
    text-align: right;
    width: 50%;
}
.hiddenHomeBodyImageDiv{
    display: none;
}
figcaption {
    font-size: 1em !important;
    position: absolute;
    right: 200px;
}
.homeImage{
    width: 550px;
    height: 350px;
}
.homeBodyText{
    font-size: 1.5em;
    width: 50%;
}
.fullHomeBodyText{
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eef1d4;
}
  
li{
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.orderButtonDiv{
    margin-top: 50px;
    text-align: center;
}
.orderButton{
    font-size: 1.5em !important;
    font-weight: 600 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    position: relative;
    margin: auto;
}

@media screen and (max-width: 768px){
    .parentContainer{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .padBottomContainer{
        padding-bottom: 10px !important;
    }
    .carouselImage{
        width: 100%;
        height: 300px;
    }
    .homeBodyContainer{
        margin-top: 0px;
    }
    .homeBody{
        margin-top: 0px;
        display: block;
    }
    .homeBodyImageDivLeft{
        display: none;
    }
    .homeBodyImageDivRight{
        display: none;
    }
    .hiddenHomeBodyImageDiv{
        display: contents;
        position: relative !important;
        width: 100%;
    }
    .homeImage{
        width: 100%;
        height: auto;
    }
    figcaption {
        font-size: 1em !important;
        position: inherit;
        text-align: center;
    }
    .homeBodyText{
        font-size: 1em;
        width: 100%;
        padding: 10px;
    }
    .fullHomeBodyText{
        margin-top: 0px;
        font-size: 1em;
        padding: 10px;
    }
    .orderButtonDiv{
        margin-top: 10px;
    }
    .orderButton{
        font-size: 1.1em !important;
        font-weight: 500 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}