.formDiv{
    margin-top: 30px !important;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
}
.form-group{
    padding-bottom: 50px !important;
}
.backToCartBtn{
    font-size: 1.1em !important;
    font-weight: 600 !important;
}
.continueToConfirmBtn{
    font-size: 1.1em !important;
    font-weight: 600 !important;
}
.warnText{
    color: red;
    font-weight: 600;
}
@media screen and (max-width: 768px){
    .backToCartBtn{
        font-size: 0.8em !important;
    }
    .continueToConfirmBtn{
        font-size: 0.8em !important;
    }
}