.loadingDiv{
    margin-top: 50px;
    text-align: center;
}
.loadingText{
    margin-top: 20px;
    font-weight: 600;
}
.orderBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}
.orderBody > .itemCard{
    flex-basis: calc(25% - 20px) !important;
}

@media screen and (max-width: 768px){
    .orderBody{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .orderBody > .itemCard{
        flex-basis: calc(50% - 10px) !important;
        margin: 5px;
    }
}