.footerBG{
    background-color: #fff59d;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
}
.footerLeft{
    width: 50%;
    display: inline-block;
    text-align: left;
}
.footerRight{
    width: 50%;
    display: inline-block;
    text-align: right;
}
.footerMiddle{
    margin-top: 20px;
}
.footerBottom{
    margin-top: 20px;
}
.footerTitle{
    font-size: 1.7em;
    font-weight: 600;
    color: #054575;
}
/* .invisibleFooterTitle{
    font-size: 1.7em;
    font-weight: 600;
    color: #054575;     
} */
.footerSecondaryTitle{
    font-size: 1.2em;
    font-weight: 600;
    color: #054575;
}
@media screen and (max-width: 768px){
    .footerContainer{
        padding-right: 0px !important;
        padding-left: 0px !important;
        flex-direction: column;
    }
    .footerLeft{
        width: 100%;
        display: block;
        text-align: center;
    }
    .footerRight{
        width: 100%;
        display: block;
        text-align: center;
    }
    .footerTop{
        text-align: center;
    }
    .footerMiddle{
        text-align: center;
    }
    .footerBottom{
        text-align: center;
    }
    .invisibleFooterTitle{
        display: none;
    }
}