.storeTrxIdText{
    background-color: #eef1d4;
    padding: 20px;
    margin-top: 10px;
    font-size: 1.25em;
}

@media screen and (max-width: 768px){
    .orderSuccessLogo{
        width: 50%;
    }
    .storeTrxIdText{
        font-size: 1em;
        padding: 10px;
    }
}