.paymentInfoDiv{
    margin-top: 70px !important;
    text-align: center;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
}
.paymentInfoWhiteDiv{
    background-color: white;
    padding: 30px 50px;
}
.paymentInfoText{
    font-size: 1.3em !important;
    font-weight: 600 !important;
}
.paymentImageDiv{
    margin-top: 30px;
}
.bkashText{
    color: #388e3c;
    font-size: 1.3em !important;
    font-weight: 600 !important;
    margin-top: 30px;
}
.shippingDetailsText{
    padding: 10px;
    text-align: left !important;
    font-size: 1.25em;
    background-color: #eef1d4;
}
.instructionText{
    margin-top: 30px;
    font-size: 1.25em;
}
.backToShippingBtn{
    font-size: 1.1em !important;
    font-weight: 600 !important;
}
.confirmPurchaseBtn{
    font-size: 1.1em !important;
    font-weight: 600 !important;
}

@media screen and (max-width: 768px){
    .paymentInfoDiv{
        width: 80%;
        margin-top: 30px !important;
    }
    .paymentInfoWhiteDiv{
        background-color: white;
        padding: 20px 30px;
    }
    .paymentInfoText{
        font-size: 1em !important;
    }
    .shippingDetailsText{
        font-size: 1em;
    }
    .instructionText{
        font-size: 1em;
    }
    .backToShippingBtn{
        font-size: 0.8em !important;
    }
    .confirmPurchaseBtn{
        font-size: 0.8em !important;
    }
}